img{
	width: 223px;
	height: 58px;
	vertical-align: middle;
}

a{
	color:  #8D81FF;
  font-weight: 700px;
  font-size: 26px;
}

.active{
	color:#4E6FAE;
}

nav{
	display: inline-block;
}

li{
	display:inline ;
	margin-left:60px;
}

header{
	margin-top:54px;
	margin-left: 52px;
}

.date26{
	width: 50px ;
	height:50px ;
	background: #5012D5;
	font-weight: 400px;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	text-align:center ;
	padding-top: 8px ;
}

section{
	margin-left: 52px;
	margin-top: 52px;
}

h3{
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #8D81FF;
	margin-top: 10px;
}

h4{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color:#4E6FAE;
	margin-top: 10px;
}

.img-2{
	margin-top:13px ;
  width: 447px;
  height: 280px;
}

p{
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 16.9px;
  line-height: 19px;
  color: #4E6FAE;
}

.maincontent{
	width:778px;
	height: 280px;
	float:right ;
	margin-top: 18.5px;
	margin-right:185px;
}

.miniclass{
	margin-top:224px;
}

.date27{
	width: 50px ;
	height:50px ;
	background: #5012D5;
	font-weight: 400px;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	text-align:center ;
  padding-top: 8px ;
}

.img-3{
	margin-top:13px;
	height:280px;
	width: 447px;
}

.content{
	width:778px;
	height: 280px;
	float:right ;
	margin-top: 50px;
	margin-right:185px;
}

.highclass{
  margin-top:224px;
}

.date28{
	width: 50px ;
	height:50px ;
	background: #5012D5;
	font-weight: 400px;
	font-size: 24px;
	line-height: 28px;
	color: #84FF81;
	text-align:center ;
  padding-top: 8px ;
}

.img-4{
	margin-top:13px;
	height:180px;
	width: 360px;
}

.content2{
	margin-top: 15px;
}

.middleclass{
	margin-top: 200px;
}

.img-5{
	margin-left:45px;
	height:50px ;
	width: 50px;
}

.img-6{
  width: 71px;
  height:49px ;
}

.img7{
	width:40px;
	height: 48px;
}

.div5{
	margin-top: 100px;
}

.content2{
	margin-top:15px ;
	font-family: "BPG Nostalgia", sans-serif;
}

.img-00{
	width:1052px ;
	height: 462px;
	margin-left: 176px;
	margin-top: 100px;
}

	
.div1{
	margin-left: 120px;
	margin-top: 150px;
	font-size: 20px;
	color: #8D81FF;
	margin-bottom: 100px;
	display: inline-block;
}

.li1{
	color:#4E6FAE;
}

.line2{
	width: 24px;
	height: 20px;
	margin-left: 30px;
}

.idk1{
		width: 500px;
    height: 192px;
    background: #E7E7E7;
    display: inline-block;
    vertical-align: top;
    padding: 20px 15px 32px 23px;
    margin-left: 120px; 
 
}

.p1{
	width: 335px;
	height: 95px;
	font-family: font-family: 'Roboto', sans-serif;
	font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: inline-block;
  color: #7E8898;
  margin-top: 15px;
}

h2{
  width: 307px;
	height: 24px;
  font-family: 'Helvetica Neue LT GEO';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #3F4145;
}

.div2{
	margin-top: 100px;
	margin-left:120px ;
}

.justcontainer{
	width: 1660px;
	height: 735px;
	background:#E7E7E7;
	padding:162px ;
}

h5{
	width: 474px;
  height: 34px;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #4E6FAE;
}


.p2 {
	width: 307px;
  height: 24px;
  font-family: 'Helvetica Neue LT GEO';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  color: #7E8898;
}

.p3{
	width: 217px;
  height: 34px;
  font-family: 'Helvetica Neue LT GEO';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #7E8898;
}

.p4{
	position: absolute;
  width: 434px;
  height: 34px;
  font-family: 'Helvetica Neue LT GEO';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #7E8898;
}

.map{
	width: 800px;
  height: 400px;
  float: right;
  margin-right: 100px;
}

.div66{
	margin-top: 100px;
	margin-right:50px;
	margin-left: 10px;
}
